@import 'variables.scss';
body {
  background-color: #f8f8f8;
}
.navBarWrapper {
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100px;
  justify-content: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  font-family: $primary-font;
}

#burgerImg {
  height: 1rem;
  width: auto;
}

#userPhoto {
  height: 35px;
  width: auto;
  border-radius: 50%;
}

#burgerButton {
  outline: 0;
  border: none;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  touch-action: manipulation;
}

.spacer {
  width: 100%;
}

.left {
  display: flex;
  float: left;
  padding-left: 1rem;
  padding-right: 6rem;
}

.right {
  display: flex;
  align-items: center;
  float: right;
  padding-right: 1rem;
  gap: 0.2rem;
}

#logo {
  width: 4rem;
  height: auto;
}

.accessButton {
  // outline: 0;
  height: 2rem;
  width: 6rem;
  border: $primary-green;
  border-radius: 1rem;
  color: white;
  background-color: $primary-green;
  cursor: pointer;
  position: relative;
  touch-action: manipulation;
  white-space: nowrap;
}

.overlay {
  z-index: 1;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $off-black;
}

.growOverlay {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $off-black;
  animation: growOverlayAnim 0.25s;
}

@keyframes growOverlayAnim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.modalText {
  font-weight: bold;
  padding: 1rem;
  font-family: $primary-font;
  color: white;
  position: relative;
  margin-top: 10%;
  text-align: center;
}
li {
  color: white;
  text-decoration: none;
  list-style: none;
}
a {
  font-size: 3rem;
  color: white;
  text-decoration: none;
  line-height: 5rem;
}
